<?xml version="1.0"?>

<config>
    <modules>
        <MageWorkshop_DetailedReview>
            <version>1.1.7.9</version>
        </MageWorkshop_DetailedReview>
    </modules>
    <global>
        <blocks>
            <detailedreview>
                <class>MageWorkshop_DetailedReview_Block</class>
            </detailedreview>
            <adminhtml>
                <rewrite>
                    <customer_grid>MageWorkshop_DetailedReview_Block_Adminhtml_Customer_Grid</customer_grid>
                    <review_grid>MageWorkshop_DetailedReview_Block_Adminhtml_Review_Grid</review_grid>
                    <review_add_form>MageWorkshop_DetailedReview_Block_Adminhtml_Review_Add_Form</review_add_form>
                    <review_edit_form>MageWorkshop_DetailedReview_Block_Adminhtml_Review_Edit_Form</review_edit_form>
                    <catalog_category_tab_attributes>MageWorkshop_DetailedReview_Block_Adminhtml_Catalog_Category_Tab_Attributes</catalog_category_tab_attributes>
                </rewrite>
            </adminhtml>
            <review>
                <rewrite>
                    <helper>MageWorkshop_DetailedReview_Block_Helper</helper>
                    <product_view_list>MageWorkshop_DetailedReview_Block_Product_View_List</product_view_list>
                </rewrite>
            </review>
        </blocks>
        <models>
            <detailedreview>
                <class>MageWorkshop_DetailedReview_Model</class>
                <resourceModel>detailedreview_mysql4</resourceModel>
            </detailedreview>
            <detailedreview_mysql4>
                <class>MageWorkshop_DetailedReview_Model_Mysql4</class>
                <entities>
                    <review_helpful>
                        <table>review_helpful</table>
                    </review_helpful>
                    <author_ips>
                        <table>review_author_ips</table>
                    </author_ips>
                    <review_proscons>
                        <table>review_proscons</table>
                    </review_proscons>
                    <review_proscons_store>
                        <table>review_proscons_store</table>
                    </review_proscons_store>
                </entities>
            </detailedreview_mysql4>
            <review_mysql4>
                <rewrite>
                    <review>MageWorkshop_DetailedReview_Model_Mysql4_Review</review>
                    <review_collection>MageWorkshop_DetailedReview_Model_Mysql4_Review_Collection</review_collection>
                </rewrite>
            </review_mysql4>
            <review_resource>
                <rewrite>
                    <review>MageWorkshop_DetailedReview_Model_Mysql4_Review</review>
                    <review_collection>MageWorkshop_DetailedReview_Model_Mysql4_Review_Collection</review_collection>
                </rewrite>
            </review_resource>
            <review>
                <rewrite>
                    <review>MageWorkshop_DetailedReview_Model_Review</review>
                </rewrite>
            </review>
        </models>
        <helpers>
            <detailedreview>
                <class>MageWorkshop_DetailedReview_Helper</class>
            </detailedreview>
        </helpers>
        <resources>
            <detailedreview_setup>
                <setup>
                    <module>MageWorkshop_DetailedReview</module>
                    <class>MageWorkshop_DetailedReview_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </detailedreview_setup>
            <detailedreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </detailedreview_write>
            <detailedreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </detailedreview_read>
        </resources>
        <rewrite>
            <mageworkshop_detailedreview_product_post>
                <from><![CDATA[#^/review/product/#]]></from>
                <to>/detailedreview/product/</to>
            </mageworkshop_detailedreview_product_post>

            <mageworkshop_detailedreview_customer_account>
                <from><![CDATA[#^/customer/account/loginPost#]]></from>
                <to>/detailedreview/customer_account/loginPost</to>
            </mageworkshop_detailedreview_customer_account>
        </rewrite>
        <template>
            <email>
                <detailedreview_email_notify_template translate="label" module="detailedreview">
                    <label>New Review</label>
                    <file>detailedreview/review_new.html</file>
                    <type>html</type>
                </detailedreview_email_notify_template>
            </email>
        </template>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <detailedreview_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DetailedReview_Model_Observer</class>
                        <method>configSave</method>
                    </detailedreview_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_predispatch_adminhtml_catalog_product_review_save>
                <observers>
                    <detailedreview_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DetailedReview_Model_Observer</class>
                        <method>adminReviewSave</method>
                    </detailedreview_observer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_review_save>
            <controller_action_predispatch_adminhtml_catalog_product_review_post>
                <observers>
                    <detailedreview_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DetailedReview_Model_Observer</class>
                        <method>adminReviewSave</method>
                    </detailedreview_observer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_review_post>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <detailedreview>
                    <file>detailedreview.xml</file>
                </detailedreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorkshop_DetailedReview>
                    <files>
                        <default>MageWorkshop_DetailedReview.csv</default>
                    </files>
                </MageWorkshop_DetailedReview>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <detailedreviewadmin>
                <use>admin</use>
                <args>
                    <module>MageWorkshop_DetailedReview</module>
                    <frontName>detailedreviewadmin</frontName>
                </args>
            </detailedreviewadmin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <detailedreview>
                <use>standard</use>
                <args>
                    <module>MageWorkshop_DetailedReview</module>
                    <frontName>detailedreview</frontName>
                </args>
            </detailedreview>
        </routers>
        <layout>
            <updates>
                <detailedreview>
                    <file>detailedreview.xml</file>
                </detailedreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorkshop_DetailedReview>
                    <files>
                        <default>MageWorkshop_DetailedReview.csv</default>
                    </files>
                </MageWorkshop_DetailedReview>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <mageworkshop_detailedreview_sort_refresh>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>detailedreview/sort::refreshAllIndices</model>
                </run>
            </mageworkshop_detailedreview_sort_refresh>
            <mageworkshop_detailedreview_clear_ips>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>detailedreview/authorIps::clearOld</model>
                </run>
            </mageworkshop_detailedreview_clear_ips>
        </jobs>
    </crontab>

    <default>
        <detailedreview>
            <settings>
                <enable>1</enable>
                <enable_flag>1</enable_flag>
                <enable_jquery>1</enable_jquery>
                <allow_guest_vote>0</allow_guest_vote>
                <show_verified_buyer_image>1</show_verified_buyer_image>
                <submit_review_ajax>1</submit_review_ajax>
                <theme>standard</theme>
                <reviews_in_tab>0</reviews_in_tab>
            </settings>
            <rating_image>
                <active>default/active-star.png</active>
                <unactive>default/inactive-star.png</unactive>
            </rating_image>
            <proscons>
                <pros>Price,Quality,Manufacturer</pros>
                <cons>Price,Quality,Manufacturer</cons>
            </proscons>
            <show_settings>
                <allow_good_and_bad_detail>1</allow_good_and_bad_detail>
                <allow_pros_and_cons>1</allow_pros_and_cons>
                <allow_user_pros_and_cons>1</allow_user_pros_and_cons>
                <allow_image>1</allow_image>
                <allow_video>1</allow_video>
                <allow_video_preview>1</allow_video_preview>
                <allow_sizing>0</allow_sizing>
                <allow_about_you>0</allow_about_you>
                <allow_response>1</allow_response>
            </show_settings>
            <filters>
                <allow_result_filters>1</allow_result_filters>
                <qty_items_in_highest_contributors>5</qty_items_in_highest_contributors>
            </filters>
            <captcha>
                <enabled>0</enabled>
            </captcha>
            <social_share_optios>
                <share_review_to_facebook>1</share_review_to_facebook>
                <twitt_review>1</twitt_review>
                <recommended_product>0</recommended_product>
                <recommend_qty_available>Definitely yes, Likely, Unlikely, Not sure, Never!</recommend_qty_available>
            </social_share_optios>
            <image_options>
                <max_image_size>5</max_image_size>
                <min_image_width>60</min_image_width>
                <min_image_height>60</min_image_height>
                <images_max_count>3</images_max_count>
            </image_options>
            <video_options>
                <width_video_preview>300</width_video_preview>
                <height_video_preview>200</height_video_preview>
            </video_options>
            <email_notify>
                <enabled>1</enabled>
                <sender>general</sender>
                <template>detailedreview_email_notify_template</template>
                <copy_method>bcc</copy_method>
            </email_notify>
            <sorting_options>
                <allow_sorting_by>date_desc,date_asc,rate_desc,rate_asc,most_helpful,ownership</allow_sorting_by>
            </sorting_options>
            <list_options>
                <qty_default>5</qty_default>
                <qty_available>5,10,15,20</qty_available>
                <ordering>date_desc</ordering>
            </list_options>
            <category_options>
                <all_reviews>0</all_reviews>
                <category_reviews>1</category_reviews>
                <slider_effect>easeOutBounce</slider_effect>
                <qty_items>10</qty_items>
                <qty_visible_items>3</qty_visible_items>
                <pause>5</pause>
                <product_image>1</product_image>
            </category_options>
            <statistics_options>
                <chart_type>mage</chart_type>
                <qty_items_in_liked_grid>5</qty_items_in_liked_grid>
                <qty_items_in_disliked_grid>5</qty_items_in_disliked_grid>
                <qty_items_in_reviewed_grid>5</qty_items_in_reviewed_grid>
                <qty_items_in_customer_grid>5</qty_items_in_customer_grid>
            </statistics_options>
        </detailedreview>
    </default>
</config>

