<config>
    <modules>
        <Jeasy_Sales>
            <version>0.1.0</version>
        </Jeasy_Sales>
    </modules>
    <global>
        <models>
            <jeasy_sales>
                <class>Jeasy_Sales_Model</class>
            </jeasy_sales>
        </models>
        <blocks>
            <jeasy_sales>
                <class>Jeasy_Sales_Block</class>
            </jeasy_sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Jeasy_Sales_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <sales_grid_adminhtml_block_html_before>
                        <type>singleton</type>
                        <class>jeasy_sales/observer</class>
                        <method>salesGridBlockHtmlBefore</method>
                    </sales_grid_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
            <sales_model_service_quote_submit_before>
                <observers>
                    <sales_model_service_quote_submit_before>
                        <type>singleton</type>
                        <class>jeasy_sales/observer</class>
                        <method>quoteSubmitBefore</method>
                    </sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
        <helpers>
            <jeasy_sales>
                <class>Jeasy_Sales_Helper</class>
            </jeasy_sales>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jeasy_Sales_Adminhtml before="Mage_Adminhtml">Jeasy_Sales_Adminhtml</Jeasy_Sales_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>