<?xml version="1.0"?>

<config>
    <modules>
        <Company_Myorders>
            <version>7.0</version>
        </Company_Myorders>
    </modules>
    <global>
        <models>
            <Myorders>
                <class>Company_Myorders_Model</class>
                <resourceModel>Myorders_mysql4</resourceModel>
            </Myorders>
            <Myorders_mysql4>
                <class>Company_Myorders_Model_Mysql4</class>
                <entities>
                    <api_debug><table>Myorders_api_debug</table></api_debug>
                </entities>
            </Myorders_mysql4>
        </models>
        <resources>
            <Myorders_setup>
                <setup>
                    <module>Company_Myorders</module>
                    <class>Company_Myorders_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Myorders_setup>
            <Myorders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Myorders_write>
            <Myorders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Myorders_read>
        </resources>
        <blocks>
            <Myorders><class>Company_Myorders_Block</class></Myorders>
    	</blocks>
    	<helpers>
	        <Myorders>
	        	<class>Company_Myorders_Helper</class>
	        </Myorders>
        </helpers>
        <payment>
            <Myorders_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </Myorders_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <Myorders_payment>/Myorders/payment</Myorders_payment>
        </secure_url>
        <routers>
            <Myorders>
                <use>standard</use>
                <args>
                    <module>Company_Myorders</module>
                    <frontName>Myorders</frontName>
                </args>
            </Myorders>
        </routers>
        <translate>
            <modules>
                <Company_Myorders>
                    <files>
                        <default>Company_Myorders.csv</default>
                    </files>
                </Company_Myorders>
            </modules>
        </translate>
        <layout>
            <updates>
                <Myorders>
                    <file>Myorders.xml</file>
                </Myorders>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Company_Myorders>
                    <files>
                        <default>Company_Myorders.csv</default>
                    </files>
                </Company_Myorders>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <Myorders_payment>
                  <model>Myorders/payment</model>
                  <title>Myorders Payment</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </Myorders_payment>
        </payment>
    </default>
</config>
