<?xml version="1.0" ?><config>
	<modules>
		<Thinkidea_Limitprice>
			<name>思维创意</name>
			<version>1.0.0</version>
		</Thinkidea_Limitprice>
	</modules>
	<frontend>
		<routers>
			<limitprice>
				<use>standard</use>
				<args>
					<module>Thinkidea_Limitprice</module>
					<frontName>Thinkidea</frontName>
				</args>
			</limitprice>
		</routers>
	</frontend>
	<global>
		<helpers>
			<limitprice>
				<class>Thinkidea_Limitprice_Helper</class>
			</limitprice>
		</helpers>
		<models>
			<limitprice>
				<class>Thinkidea_Limitprice_Model</class>
			</limitprice>
		</models>
		<blocks>
			<limitprice>
				<class>Thinkidea_Limitprice_Block</class>
			</limitprice>
		</blocks>
		
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Thinkidea_Limitprice before="Mage_Adminhtml">Thinkidea_Limitprice_Adminhtml</Thinkidea_Limitprice>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<limitprice_cfg translate="title" module="limitprice">
											<title>Thinkidea Limitprice Section</title>
											<sort_order>150</sort_order>
										</limitprice_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<limitprice>
					<file>Thinkidea/limitprice.xml</file>
				</limitprice>
			</updates>
		</layout>
		<translate>
			<modules>
				<Thinkidea_Limitprice>
					<files>
						<default>Thinkidea_Limitprice.csv</default>
					</files>
				</Thinkidea_Limitprice>
			</modules>
		</translate>
	</adminhtml>
	<default>
		
	</default>
</config>
